* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
}

#topMobileMenu {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  background-color: black;
  padding: 5px 30px 5px 25px;
  /* height: 100px; */
  position: relative;
  left: 0;
}

#topMobileMenu #title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

#topMobileMenu #title p {
  margin-left: 7px;
  font-size: 16px;
}

/* #topMobileMenu .closeInput {
  display: none;
} */

/* #topMobileMenu .openInput {
  display: block;
} */

#topMobileMenu .menu {
  display: flex;
  align-items: center;
}

#topMobileMenu .user {
  background-color: blueviolet;
  border-radius: 50%;
  padding: 3px 7px;
  font-weight: 500;
  margin-left: 15px;
}

#topMobileMenu .searchIcon {
  cursor: pointer;
}

#topMobileMenu .inputTab {
  position: absolute;
  left: 0;
  top: 15px;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  flex-direction: column;
  height: unset;
  flex-direction: column;
  display: none;
  z-index: 10;
}

#topMobileMenu .inputTab.openInput {
    display: block;
    display: flex;
  align-items: center;
  justify-content: center;
}

#topMobileMenu .inputTab .input {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#topMobileMenu .inputTab .input input {
  width: 100%;
  background-color: black;
  border: 1px solid rgba(231, 231, 231, 0.3);
  padding: 15px 45px;
}

.backwardIcon{
    position: absolute;
    left: 10px;
    cursor: pointer;
    color: rgba(231, 231, 231, 0.7);
}
    .backwardIcon img{
  
  width: 30px;
  /* color: rgba(231, 231, 231, 0.7); */
}

#topMobileMenu .inputTab .previousSearches{
  width: 80%;
  background-color: black;
  z-index: 10;
}

#topMobileMenu .inputTab ul {
  width: 100%;
  padding: 0 10px;
}

#topMobileMenu .inputTab ul img {
  width: 40px;
}

#topMobileMenu .inputTab ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topMobileMenu .inputTab ul li div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

@media (min-width: 900px) {
  #topMobileMenu {
    display: none;
  }
}
