.spinner{
    width: 40px;
    height: 40px;
    border: 1px solid green;
    border-radius: 50%;
    border-top: 1px solid rgba(0, 0, 0, 0.507);
    animation: spinner 0.7s linear infinite;
    margin: auto;
}
.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

@keyframes spinner{
    to{
        transform: rotate(360deg);
    }
}