body{
    background-color: black;
   
}

#homePageUi{
    display: flex;
}

.container{
    padding: 0 30px;
    width: 70vw;
}

.container.biggerContainer{
    width: 80vw;
  }

.leftArrow, .rightArrow{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: white 1px solid;
    color: white;
    margin-bottom: 15px;
    margin-left: 10px;
}

.navArrow{
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

.sliderCont{
    position: absolute;
    right: 0;
}

.images{
    border-radius: 30%;
    width: 90%;
}