body {
  color: white;
}

.navbar #container {
  width: 300px;
  border-right: 1px solid rgba(231, 231, 231, 0.3);
  height: 100vh;
  padding: 0 30px;
  position: fixed;
}

.navbar.smallerNavbar #container {
  border-right: none;
}

.navbar .header  {
 margin-left: 10px;
 display: flex;

 align-items: center;
 /* justify-content: center; */
}

.navbar .header span {
  margin-right: 20px;
  font-size: 17px;
  /* cursor: pointer; */
}

.navbar .header p {
  font-size: 18px;
  display: flex;
}

.navbar #menu {
  width: 100%;
  border-bottom: 1px solid rgba(231, 231, 231, 0.3);
  padding-bottom: 20px;
}

.navbar.smallerNavbar #menu {
  border-bottom: none;
}

.navbar #menu p {
  display: flex;
  font-size: 18px;
  padding: 10px ;
  margin: 15px 0;
  border-radius: 10px;
}

.navbar #menu p:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar #menu span {
  margin-right: 20px;
  font-size: 20px;
}

.navbar #lists {
  text-align: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.navbar #lists p{
  cursor: pointer;
}

.navbar.smallerNavbar #menu{
  margin-left: 20px;
}

  .navbar.smallerNavbar #lists p{
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.navbar.smallerNavbar #lists p span:last-of-type{
  font-size: 12px;
}

.navbar.smallerNavbar #userInfos{
  display: none;
}

.navbar #userInfos button {
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar #userInfos button span {
  margin-right: 5px;
}

.navbar #userInfos ul {
  padding: 0;
}

.navbar #userInfos li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 20px;
}

.navbar #userInfos li div:last-of-type {
  background-color: white;
  color: black;
  padding: 6px;
  border-radius: 50%;
  font-size: 8px;
}

.navbar #userInfos li p:first-of-type {
  font-weight: bold;
}

.navbar #userInfos li p:last-of-type {
  font-size: 13px;
  margin-top: -10px;
}

.navbar .playIcon {
  display: none;
}

.navbar #userInfos li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar #userInfos li:hover .playIcon {
  display: block;
}

@media (max-width: 900px) {
  .navbar .header span {
    margin-right: 0;
  }

  .navbar #container {
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(231, 231, 231, 0.1);
  }

  .navbar #userInfos {
    display: none;
  }

  .navbar .header p span:last-of-type {
    display: none;
  }

  .navbar #menu p {
    flex-direction: column;
    align-items: center;
    font-size: 10px;
  }

  .navbar #menu p span:last-of-type {
    font-size: 10px;
  }

  .navbar #menu span {
    margin-right: 0px;
    /* font-size: 20px; */
  }

  .navbar #menu {
    border: none;
  }
}
